skills/n8n-workflow-builder/assets/templates/workflows/lead-capture-crm.json
{
  "name": "Lead Capture to CRM",
  "nodes": [
    {
      "id": "webhook",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "lead-capture-id"
    },
    {
      "id": "validate",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const lead = item.json;\n  const errors = [];\n  \n  // Validate required fields\n  if (!lead.email || !lead.email.includes('@')) {\n    errors.push('Valid email is required');\n  }\n  if (!lead.name || lead.name.length < 2) {\n    errors.push('Name is required (min 2 chars)');\n  }\n  if (!lead.phone) {\n    errors.push('Phone is required');\n  }\n  \n  // Format phone number (Israeli format)\n  let formattedPhone = lead.phone?.replace(/\\D/g, '') || '';\n  if (formattedPhone.startsWith('0')) {\n    formattedPhone = '972' + formattedPhone.slice(1);\n  } else if (!formattedPhone.startsWith('972')) {\n    formattedPhone = '972' + formattedPhone;\n  }\n  \n  return {\n    json: {\n      ...lead,\n      phone_formatted: formattedPhone,\n      valid: errors.length === 0,\n      errors: errors.length > 0 ? errors : undefined,\n      source: lead.source || 'website',\n      created_at: new Date().toISOString()\n    }\n  };\n});"
      }
    },
    {
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "add-to-crm",
      "name": "Add to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"phone\": \"{{ $json.phone_formatted }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"notes\": \"{{ $json.message || '' }}\"\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "notify-slack",
      "name": "Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1050, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#leads"
        },
        "text": "=:sparkles: *New Lead*\n\n*Name:* {{ $('Validate Lead').first().json.name }}\n*Email:* {{ $('Validate Lead').first().json.email }}\n*Phone:* {{ $('Validate Lead').first().json.phone }}\n*Source:* {{ $('Validate Lead').first().json.source }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "credentials": {
        "slackApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "id": "callback-rails",
      "name": "Callback to Rails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAILS_WEBHOOK_URL }}/api/v1/webhooks/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Signature",
              "value": "={{ require('crypto').createHmac('sha256', $env.N8N_WEBHOOK_SECRET).update(JSON.stringify({ event_type: 'lead_captured', email: $('Validate Lead').first().json.email, name: $('Validate Lead').first().json.name, source: $('Validate Lead').first().json.source })).digest('hex') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"lead_captured\",\n  \"email\": \"{{ $('Validate Lead').first().json.email }}\",\n  \"name\": \"{{ $('Validate Lead').first().json.name }}\",\n  \"phone\": \"{{ $('Validate Lead').first().json.phone_formatted }}\",\n  \"source\": \"{{ $('Validate Lead').first().json.source }}\",\n  \"crm_id\": \"{{ $('Add to CRM').first().json.id || '' }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Lead captured successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"errors\": {{ JSON.stringify($json.errors) }}\n}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {}
    },
    {
      "id": "error-notify",
      "name": "Error Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [450, 500],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "#alerts"
        },
        "text": "=:warning: *Lead Capture Error*\n\nError: {{ $json.message }}\nWorkflow: Lead Capture to CRM",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "credentials": {
        "slackApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Add to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to CRM": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team": {
      "main": [
        [
          {
            "node": "Callback to Rails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback to Rails": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
